{
  "extends": [
    "@nurdiansyah/devel"
  ],
  "parserOptions": {
    "ecmaVersion": 2019
  },
  "ignorePatterns": [
    "templates",
    "*.js",
    "*.d.ts"
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest": true
  }
}
